/* -------------------------- Cfntent -------------------------- */
:root {
  --color-main-dark: #191530;
  --color-mid-darker: #6a4e6e;
  --color-mid-dark: #e39787;
  --color-mid-light: #ffbca9;
  --color-accent: #ffe2b7;
  --color-home-light: #ffbca8f2;
  --color-home-profile: #ffa78df2;
  --color-profile-cv: #c48481f2;
  --color-cv-portfolio: #6b4f6ff2;
  --color-portfolio-contact: #1d1d3af2;
  --color-contact-dark: #252142f2;
  --color-opacity: #6a4e6ef2;
  --color-gradient-home: linear-gradient(
    180deg,
    var(--color-home-light) 0%,
    var(--color-home-profile) 100%
  );
  --color-gradient-profile: linear-gradient(
    180deg,
    var(--color-home-profile) 0%,
    var(--color-profile-cv) 100%
  );
  --color-gradient-cv: linear-gradient(
    180deg,
    var(--color-profile-cv) 0%,
    var(--color-cv-portfolio) 100%
  );
  --color-gradient-portfolio: linear-gradient(
    180deg,
    var(--color-cv-portfolio) 0%,
    var(--color-portfolio-contact) 100%
  );
  --color-gradient-contact: linear-gradient(
    180deg,
    var(--color-portfolio-contact) 0%,
    var(--color-contact-dark) 100%
  );

  /*--color-gradient: linear-gradient(
    0deg,
    var(--color-main-dark) 0%,
    var(--color-mid-darker) 50%,
    var(--color-mid-light) 100%
  );*/
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  min-height: 100vh;
  height: 200vh;
  position: relative;
  width: 90vw;
  /*background-color: rgba(25, 21, 48, 0.98);*/
  border-radius: 1vh;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

#home {
  background: var(--color-gradient-home);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: unset;
  /*filter: blur(15px);*/
}

/* --- profilbild ---*/

#profilbild_gallery {
  padding: 5vh;
  clip: rect(auto auto 500px auto);
  max-height: 6%;
  width: auto;
  display: grid;
  place-content: center;
  background: var(--color-mid-darker);
}

#Thisisme {
  padding: 5vh;
  clip: rect(auto auto 500px auto);
  max-height: 6%;
  width: auto;
  display: grid;
  place-content: center;
  background: var(--color-mid-darker);
}

.gallery {
  --g: 7px; /* the gap */
  --s: 400px; /* the size */

  display: grid;
  border-radius: 50%;
}
.gallery > img {
  grid-area: 1/1;
  width: 400px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x, 0), var(--_y, 0));
  cursor: pointer;
  z-index: 0;
  transition: 0.3s, z-index 0s 0.3s;
}
.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform 0.2s, clip-path 0.3s 0.2s, z-index 0s;
}
.gallery:hover img {
  transform: translate(0, 0);
}
.gallery > img:nth-child(1) {
  clip-path: polygon(
    50% 50%,
    calc(50% * var(--_i, 0)) calc(120% * var(--_i, 0)),
    0 calc(100% * var(--_i, 0)),
    0 0,
    100% 0,
    100% calc(100% * var(--_i, 0)),
    calc(100% - 50% * var(--_i, 0)) calc(120% * var(--_i, 0))
  );
  --_y: calc(-1 * var(--g));
}
.gallery > img:nth-child(2) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% - 100% * var(--_i, 0)) 0,
    100% 0,
    100% 100%,
    calc(100% - 100% * var(--_i, 0)) 100%,
    calc(100% - 120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: var(--g);
}
.gallery > img:nth-child(3) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0)),
    100% calc(100% - 120% * var(--_i, 0)),
    100% 100%,
    0 100%,
    0 calc(100% - 100% * var(--_i, 0)),
    calc(50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0))
  );
  --_y: var(--g);
}
.gallery > img:nth-child(4) {
  clip-path: polygon(
    50% 50%,
    calc(120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% * var(--_i, 0)) 0,
    0 0,
    0 100%,
    calc(100% * var(--_i, 0)) 100%,
    calc(120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: calc(-1 * var(--g));
}

/* --- Weiter mit Profile ---*/
#profile {
  height: 170vh;
  background: var(--color-gradient-profile);
  position: relative;
  flex-direction: column;
  justify-content: unset;
  display: flex;
  align-items: center;
}

#cv {
  height: 180vh;
  background: var(--color-gradient-cv);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: unset;
}

#portfolio {
  background: var(--color-gradient-portfolio);
  flex-direction: column;
  justify-content: unset;
  display: flex;
  align-items: center;
}

#contact {
  background: var(--color-gradient-contact);
  height: 80vh;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}
#main-nav {
  position: absolute;
  top: 90vh;
  z-index: 100;
  display: none;
  gap: 3em;
  background-color: var(--color-mid-darker);
  padding: 2vh;
  border-radius: 1vh;
  margin-top: 3vh;
  color: var(--color-accent);
}

#main-nav a {
  color: var(--color-accent);
}

#mobile-nav {
  position: fixed;
  z-index: 5;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5em;
  left: 0;
  height: 64px;
  width: 64px;
  justify-content: center;
}

#mobile-nav a {
  background: var(--color-accent);
  color: var(--color-main-dark);
  position: absolute;
  padding-bottom: 5rem;
  width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
}

.mobile-nav-icon {
  height: 64px;
  width: 64px;
  fill: var(--color-main-dark);
  stroke: var(--color-main-dark);
  position: relative;
}

#reference {
  position: absolute;
  top: 86vh;
}

.sticky {
  position: fixed;
  top: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

h1 {
  color: var(--color-mid-darker);
  margin-top: 15vh;
  flex-direction: column;
  margin-bottom: 10vh;
}

h2 {
  color: var(--color-mid-darker);
  margin-top: 15vh;
}

h3 {
  margin-top: 10vh;
}

#portfolio h2 {
  color: var(--color-accent);
}

#cv h2 {
  color: var(--color-mid-darker);
}

p {
  padding: 5vh;
  color: black;
  /*--Mehrere Spalten--*/
  columns: 1 12em;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  max-width: 80vw;
}

#credits {
  height: 5vh;
  bottom: 1em;
  display: flex;
  place-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0);
}

#credits a {
  text-decoration: none;
  color: #99a;
}

#profilbild {
  max-width: 70vw;
  clip: rect(auto auto 500px auto);
}

/* -------------------------- Parallax-Effect -------------------------- */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

svg {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.scrollElement {
  position: absolute;
  height: 6000px;
  width: 100px;
  top: 0;
  z-index: 0;
}

.btn {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 0px;
  transform: translateX(-50%);
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.7em;
  background-color: transparent;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 11;
}

.btn_works {
  left: 100px;
  right: unset;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  color: #1b1734;
}

/* -------------------------- Mediaquerry -------------------------- */
@media (min-width: 768px) {
  #mobile-nav {
    visibility: hidden;
  }

  #main-nav {
    display: flex;
  }
}
